<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
</head>

<body>
    <img src="{{ url_for('static', filename='1.png') }}" alt="My Image">
    <img src="{{ url_for('static', filename='my_plot.png') }}" alt="My Image">

    <!--
    <form action="/action_page.php">
        <input type="file" id="myFile" name="filename" accept=".txt">
        <input type="submit">
    </form>
    -->


    <!--Stuff Below-->
    <button> <a href="index.html">Click me</a></button>
    <form method="post">
        <input type="submit" name="submit_button" value="submit">
        <input type="submit" name="other_button" value="other">
    </form>
</body>

</html>